<p style="color: green"><%= notice %></p>

<%= render @extract %>

<div>
  <%= link_to "Edit this extract", edit_extract_path(@extract) %> |
  <%= link_to "Back to extracts", extracts_path %>

  <%= button_to "Destroy this extract", @extract, method: :delete %>
</div>
