<% if notice == 'Withdrawal successful.' || notice == 'Deposit successful.' %>
  <p style="color: green"><%= notice %></p>
<% else %>
  <p style="color: red"><%= notice %></p>
<% end %>

<%= render @wallet %>

<div>
  <!---<%= link_to "Edit this wallet", edit_wallet_path(@wallet) %>--->

  <%= form_tag withdraw_or_deposit_wallet_path(@wallet), method: :post do %>
    <div>
      <%= label_tag :value, 'Amount:' %>
      <%= number_field_tag :value, nil, step: '0.01' %>
    </div>
    <div>
      <%= label_tag :operation, 'Operation:' %>
      <%= select_tag :operation, options_for_select([['Withdraw', 'withdraw'], ['Deposit', 'deposit']]) %>
      <%= submit_tag 'Submit' %>
    </div>
    
  <% end %>
  <hr>
  <%= link_to "Back to user", user_path %> |
  <%= link_to "Show this extract", extract_path %>

  

  <!---<%= button_to "Destroy this wallet", @wallet, method: :delete %>--->
</div>
